<body id="particles-js"></body>
<div fxLayoutAlign="center center" fxFlexFill class="main-div">

    <body id="particles-js"></body>
    <div class="animated bounceInDown">
        <div class="container">
            <span class="error animated tada" id="msg"></span>
            <form name="form1" class="box">
                <h4><span>Compagnon</span></h4>
                <h5>Sign in to your account.</h5>
                <input type="text" name="email" placeholder="Email" class="form-control" autocomplete="off">
                <i class="typcn typcn-eye" id="eye"></i>
                <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">
                <input type="text" name="grade" placeholder="Grade" autocomplete="off">
                <input type="submit" value="Sign in" class="btn1" routerLink="Accueil">
            </form>
        </div>