<body class="hm-gradient">
    <app-navbar></app-navbar>
    <main>
        <!--MDB Hover Effects-->
        <div class="container mt-4">

            <!-- Grid row -->
            <div class="row pb-3">

                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="mask flex-center">
                        <p class="white-text">Etablissement</p>
                    </div>
                    <div class="view overlay hm-black-strong">
                        <div class="card cd2 t3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0">Nom etablissement</h3>
                                        </div>
                                    </div>
                                    <div class=" col logo-img2">
                                        <img src="./assets/img/compa.jfif" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="text-muted font-weight-normal">Device etablissement</h6>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="view overlay hm-white-light">
                        <div class="mask flex-center">
                            <p class="white-text">Eleves</p>
                        </div>
                        <div class="card cd3 el1">
                            <div class="row">
                                <div class="col">
                                    <div class=" card-margin wid1">
                                        <div class="card-body">
                                            <a  routerLink="/inscriptions/students" >
                                                <h5 class="card-title">Inscriptions</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col logo-img1">
                                    <img src="./assets/img/logo Eleve.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-margin wid1">
                                        <div class="card-body">
                                            <h5 class="card-title">Dossiers</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid0">
                                        <div class="card-body">
                                            <h5 class="card-title">Inscriptions</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="view overlay hm-yellow-slight">
                        <div class="mask flex-center">
                            <p class="white-text">Notes</p>
                        </div>
                        <div class="card cd3 n1">
                            <div class="row">
                                <div class="col">
                                    <div class=" card-margin wid1">
                                        <div class="card-body">
                                            <h5 class="card-title">Notes</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col logo-img4">
                                    <img src="./assets/img/logo note.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-margin wid1">
                                        <div class="card-body">
                                            <h5 class="card-title">Config Matieres</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid0">
                                        <div class="card-body">
                                            <h5 class="card-title">Config Moyennes</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="view overlay hm-white-light tp1">
                        <div class="mask flex-center">
                            <p class="white-text">Emploi du Temps</p>
                        </div>
                        <div class="card cd1">
                            <div class="row">
                                <div class="col">
                                    <div class=" card-margin wid1">
                                        <div class="card-body">
                                            <h5 class="card-title">Planning</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-margin wid02">
                                        <div class="card-body">
                                            <h5 class="card-title">Config Moyennes</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-margin wid1">
                                        <div class="card-body">
                                            <h5 class="card-title">Repartition Enseignants</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid02">
                                        <div class="card-body">
                                            <h5 class="card-title">Seances enseignes</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="view overlay hm-yellow-slight tp2">
                        <div class="mask flex-center">
                            <p class="white-text">Enseignants</p>
                        </div>
                        <div class="card cd1 e1">
                            <div class="row">
                                <div class="col">
                                    <div class=" card-margin wid1 rt1">
                                        <div class="card-body">
                                          <a (click)="onRedirection()" style="cursor:pointer;">
                                            <h5 class="card-title">Dossiers</h5>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-margin wid02">
                                        <div class="card-body">
                                            <h5 class="card-title">Absences</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-margin wid1 a1">
                                        <div class="card-body">
                                            <h5 class="card-title">Absences</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid02">
                                        <div class="card-body">
                                            <h5 class="card-title">Projets Pedagogiques</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-4">

                    <div class="view overlay hm-zoom">
                        <div class="mask flex-center">
                            <p class="white-text">Caisse</p>
                        </div>
                        <div class="card cd2 t4">
                            <div class="row">
                                <div class="col">
                                    <div class=" card-margin wid1">
                                        <div class="card-body">
                                            <h5 class="card-title">Paiement Droit Scolaires</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-margin wid3">
                                        <div class="card-body">
                                            <h5 class="card-title">Retraits Caisses</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-margin wid4">
                                        <div class="card-body">
                                            <h5 class="card-title">Operations diverses</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-margin wid1 wid21">
                                        <div class="card-body">
                                            <h5 class="card-title">Cloture journee</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid5">
                                        <div class="card-body">
                                            <h5 class="card-title">Config Moyennes</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid10">
                                        <div class="card-body">
                                            <h5 class="card-title">Moyennes</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid11">
                                        <div class="card-body">
                                            <h5 class="card-title">Moyennes</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-4">

                    <div class="view overlay hoverable">
                        <div class="mask flex-center">
                            <p class="white-text">Impressions</p>
                        </div>
                        <div class="card tk">
                            <div class="row">
                                <div class="col">
                                    <div class=" card-margin w2">
                                        <div class="card-body">
                                            <h5 class="card-title">Certificats</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-margin wid6">
                                        <div class="card-body">
                                            <h5 class="card-title">Bulletins de note</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-margin wid7">
                                        <div class="card-body">
                                            <h5 class="card-title">Rapport d'assiduite</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-margin wid8 tk1">
                                        <div class="card-body">
                                            <h5 class="card-title">Bulletion d'adhesion</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-margin wid1 tk2">
                                        <div class="card-body">
                                            <h5 class="card-title">Carte scolaires Dossiers</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid2 tk3">
                                        <div class="card-body">
                                            <h5 class="card-title">Resultats scolaires</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid9">
                                        <div class="card-body">
                                            <h5 class="card-title">Heures Enseignees</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid2 tk4">
                                        <div class="card-body">
                                            <h5 class="card-title">Rapports Journalier</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid2 tk5">
                                        <div class="card-body">
                                            <h5 class="card-title">Notes</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid2 tk6">
                                        <div class="card-body">
                                            <h5 class="card-title">Rapports</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 mb-4 sta1">

                    <div class="view overlay hm-white-light">
                        <div class="mask flex-center">
                            <p class="white-text">Statistiques</p>
                        </div>
                        <div class="card cd1">
                            <div class="row">
                                <div class="col">
                                    <div class=" card-margin wid1">
                                        <div class="card-body">
                                            <h5 class="card-title">Registre des entrees</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col logo-img1">
                                    <img src="./assets/img/pie-chart.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-margin wid1">
                                        <div class="card-body">
                                            <h5 class="card-title">Registre des sorties</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class=" card-margin wid2">
                                        <div class="card-body">
                                            <h5 class="card-title">Config Moyennes</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- Grid row -->

        </div>
        <!--MDB Hover Effects-->

    </main>

</body>
