.wrapper {
    margin: 10px;
    background-color: #F7F7F7;
}

.logo-img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: 50px;
    position: fixed;
    top: 12px;
    img {
        width: 100px;
    }
}

// .container-fluid {
//     background-color: gray;
// }