/**div.container-fluid {
    background-image: linear-gradient(#3A5194, #385090, rgb(40, 56, 106));
}**/

//@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('../../../../node_modules/bootstrap/dist/css/bootstrap.min.css');
.navbar {
    margin-top: -10px;
    max-height: 20px;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    color: #fff;
}

.navbar-red {
    background-color: #CC9E14;
    ;
    color: #fff;
    max-height: 40px;
}

.navbar-toggler {
    padding: .15rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;
}

.nav-link {
    color: #fff !important;
}

.wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #131f43;
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}

.navbar-brand {
    color: #fff;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 4px;
    font-size: 27px;
}

.navbar-red:hover .wrapper {
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
}

.navbar-brand:hover {
    color: #fff;
}

.all-show {
    z-index: 10;
}

nav .navbar-collapse ul.navbar-nav li.active a:hover,
nav .navbar-collapse ul.navbar-nav li a:hover {
    color: blue;
    content: counter(12px);
    background-color: rgba(255, 255, 255, 0.5);
    //transform: translateX(-50%) rotate(45deg) scale(0);
}