<div class="wrapper ">

  <div class="logo d-none d-sm-block">
      <a href="/Accueil" class="simple-text logo-mini">
          <div class="logo-img">
              <img src="./assets/img/logoN.jfif" />
          </div>
      </a>
      <!-- <a href="https://www.creative-tim.com" class="simple-text logo-normal">
                      Creative Tim
                  </a> -->
  </div>



   <div class="sidebar" data-color="red">
      <app-sidebarenseignant></app-sidebarenseignant>
   </div>
   <div class="main-panel">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
   </div>

</div>
